* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utill */

header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    padding: 15px;
}

.progress_bar {
    width: 100%;
    max-width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: lightgray;
        border-radius: 50%;
        z-index: -2;

        &>span {
            background-color: black !important;
        }
    }

    &::before,
    &::after {
        content: '';
        z-index: 1;
        position: absolute;
        height: 1rem;
        border-radius: 50px;
    }

    &::before {
        width: 100%;
        background-color: lightgray;

    }

    &::after {
        transition: all 3s;
        width: 0%;
    }
}

.circle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: orange;
    border-radius: 50%;
    z-index: 1;
}

.ccl {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;

}

.size1 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid orange;
    display: inline-flex;
}

.circle-orng {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
}

.circle-bl {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
}

.logo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: rgb(63, 36, 216);
    border-radius: 50%;
    z-index: 2;
}

.circle-g {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
}

.logo-tick {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: green;
    border-radius: 50%;
    z-index: 2;
}

.circle-r {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
}

.progress_bar:hover::after {
    width: 95%;

}

.blue-progress::after {
    background-color: blue;
    width: 40%;
    height: 10%;
    left: 2%;
}

.green-progress::after {
    background-color: green;
    height: 10%;
    left: 2%;
}

.red-progress::after {
    background-color: red;
    width: 50%;
    height: 10%;
    left: 2%;
}

.sub-container {
    margin: 1% 0;
    display: flex;
    justify-content: space-between;

    &>span {
        min-width: 8.25%;
        text-align: start;
    }
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.fa-solid {
    font-size: 20px;
}

.fa-regular {
    font-size: 20px;
}